## Copyright 2019 Diffblue Limited. All Rights Reserved.

version: 2.1

references:
  yarn_cache_key: &yarn_cache_key
    v1-dependency-yarn-{{ .Branch }}-{{ checksum "yarn.lock" }}
  yarn_backup_cache_key: &yarn_backup_cache_key
    v1-dependency-yarn-{{ .Branch }}-
  yarn_backup_cache_key_no_branch: &yarn_backup_cache_key_no_branch
    v1-dependency-yarn-

commands:
  install-dependencies:
    steps:
      - run:
          name: Yarn version
          command: yarn --version
      - restore_cache:
          keys:
            - *yarn_cache_key
            - *yarn_backup_cache_key
            - *yarn_backup_cache_key_no_branch
      - run:
          name: Install dependencies
          command: yarn install --frozen-lockfile

  cache-dependencies:
    steps:
      - save_cache:
          name: Save yarn package cache
          key: *yarn_cache_key
          paths:
            - ~/.cache/yarn

  checks:
    steps:
      - run:
          name: Lint Typescript code
          command: yarn lint-ts
      - run:
          name: Check all files have up to date copyright notices
          command: yarn copyright-check
      - run:
          name: Check all third party licenses are approved
          command: yarn license-check check-file

  tests:
    steps:
      - run:
          name: Unit tests
          command: yarn coverage --forbid-only --forbid-pending
      - run:
          name: Integration tests
          command: yarn integration-test --forbid-only --forbid-pending

  deploy:
    steps:
      - run:
          name: Publish package
          command: yarn publish-package $NPM_TOKEN

jobs:
  checks:
    docker:
      - image: circleci/node:10.15.3
    steps:
      - checkout
      - install-dependencies
      - checks
      - cache-dependencies

  test-node-v8:
    docker:
      - image: circleci/node:8.16.0
    steps:
      - checkout
      - install-dependencies
      - tests
      - cache-dependencies

  test-node-v10:
    docker:
      - image: circleci/node:10.15.3
    steps:
      - checkout
      - install-dependencies
      - tests
      - cache-dependencies

  test-node-v11:
    docker:
      - image: circleci/node:11.14.0
    steps:
      - checkout
      - install-dependencies
      - tests
      - cache-dependencies

  deploy:
    docker:
      - image: circleci/node:10.15.3
    steps:
      - checkout
      - install-dependencies
      - deploy
      - cache-dependencies

workflows:
  test:
    jobs:
      - checks
      - test-node-v8
      - test-node-v10
      - test-node-v11
      - deploy:
          requires: [checks, test-node-v8, test-node-v10, test-node-v11]
          filters:
            branches:
              only: master
